@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');


#title {
    font-family: 'Text Me One', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
}

.left-hand-box {
    background-color: white;
    /* border-radius: 80%; */
    width: 35%;
    height: 100px;
    padding: 20px 20px 20px 20px;
    display: inline-block;

}

.sleep-title {
    font-family: 'Text Me One', sans-serif;
    text-align: center;
    color: #83BAD4;

}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #132E3B;
}

.loading {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Text Me One', sans-serif;

}

.icons {
    font-family: 'Grand Hotel', cursive;
    font-size: 40px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #83BAD4;
    border-radius: 50%;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.hello {
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
    color: #83BAD4;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {

.header {
  float: none;
}
}